* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #f6f6f6
}

#pfp {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: url(images/pfp.webp) center/cover no-repeat;
    border-radius: 50%;
    flex-shrink: 0
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column
}

main>section:first-of-type {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background: #d3d3d3;
    margin: auto
}

main>section:first-of-type button {
    background: #000;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer
}

main>section:first-of-type div {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center
}

main h3 {
    font-size: 20px;
    text-align: center
}

main>section:first-of-type>div>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center
}

#intro {
    width: 35%;
    display: flex;
    gap: 10px;
    flex-direction: column
}

#intro p {
    border-top: 1px solid #000;
    margin: 10px;
    padding-top: 10px
}

main>section:nth-of-type(2) {
    display: flex;
    padding: 0 150px;
    flex-direction: column
}

main>section:nth-of-type(2) h2 {
    grid-column: span 3;
    margin: 20px 0 10px
}

main>section:nth-of-type(2)>div {
    justify-content: center;
    gap: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr)
}

main>section:nth-of-type(2)>div>div {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px 10px;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: center
}

main>section:nth-of-type(2)>div>div>div {
    width: 40px;
    height: 40px;
    object-fit: contain
}

main>section:nth-of-type(2)>div>div:nth-of-type(2)>div {
    background: url(images/html.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(3)>div {
    background: url(images/css.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(4)>div {
    background: url(images/js.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(5)>div {
    background: url(images/express.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(6)>div {
    background: url(images/flask.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(7)>div {
    background: url(images/react.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(8)>div {
    background: url(images/mysql.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(10)>div {
    background: url(images/figma.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(11)>div {
    background: url(images/knime.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(12)>div {
    background: url(images/vscode.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(13)>div {
    background: url(images/ppt.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(14)>div {
    background: url(images/words.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(15)>div {
    background: url(images/excel.webp) center/contain no-repeat
}

.education {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 0 150px
}

.education>div {
    position: relative;
    height: 550px
}

.education>div:first-of-type>div:first-of-type {
    border: 1px solid #000;
    border-radius: 5px;
    width: 1px;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%)
}

.education>div>div:first-of-type>div:nth-of-type(2),
.education>div>div:first-of-type>div:nth-of-type(3),
.education>div>div:first-of-type>div:nth-of-type(4) {
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%)
}

.education>div>div:first-of-type>div:nth-of-type(3) {
    top: 250px !important
}

.education>div>div:first-of-type>div:nth-of-type(4) {
    top: 400px !important
}

.info_box {
    position: absolute;
    width: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px
}

.info_box>div:first-of-type {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.gm::before {
    background: url(images/gm.webp) center/contain no-repeat;
    content: "";
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 10px
}

.tp::before {
    background: url(images/tp.webp) center/contain no-repeat;
    content: "";
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 10px
}

.info1 {
    left: 50%;
    top: 100px;
    transform: translate(-120%, -40%)
}

.info2 {
    top: 250px;
    transform: translate(100px, -40%);
    left: 50%
}

.info3 {
    left: 50%;
    top: 400px;
    transform: translate(-120%, -40%)
}

.info_box ul {
    padding-left: 40px !important
}

.socials {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px 0;
    align-items: center
}

.socials div {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.socials div i {
    font-size: 35px
}

.socials div i::before {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px
}

.socials a {
    text-decoration: none !important;
    color: #000
}

nav {
    background: #d3d3d3;
    display: flex;
    gap: 10px;
    padding: 10px 30px 0;
    justify-content: end
}

nav a {
    text-decoration: none;
    color: #000;
    display: flex !important;
    flex-direction: column;
    width: max-content;
    padding: 5px;
    font-size: 18px
}

nav a::after {
    border: 1px solid #d3d3d3;
    content: "";
    width: 0;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .2s ease-out
}

nav a:hover::after {
    width: 100%;
    border-color: #000
}

nav a[active='true']::after {
    width: 100% !important;
    border-color: #000
}

.works header {
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 10px
}

.testimonial {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.work_experience {
    display: flex;
    padding: 20px 150px !important;
    align-items: start !important;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: start !important;
    background: #f6f6f6 !important;
    margin: auto
}

.work_experience>div {
    flex-wrap: wrap;
    justify-content: start !important;
    align-items: start !important;
    gap: 20px !important
}

.work_experience>div>div {
    width: calc((100% - 20px) / 2);
    border: 1px solid #000;
    display: grid !important;
    grid-template-columns: min-content 1fr;
    border-radius: 10px;
    padding: 20px;
    gap: 10px !important;
    min-height: 200px;
    justify-content: flex-start !important;
    align-items: flex-start !important
}

.work_experience>div>div p:nth-of-type(1),
.work_experience>div>div p:nth-of-type(3),
.work_experience>div>div p:nth-of-type(5) {
    grid-column: 1;
    white-space: nowrap
}

.work_experience>div>div p:nth-of-type(2),
.work_experience>div>div p:nth-of-type(4),
.work_experience>div>div p:nth-of-type(6) {
    grid-column: 2
}

.work_experience>div>div h3 {
    grid-column: span 2;
    display: flex;
    font-size: 1em;
    align-items: center
}

.work_experience>div>div h3::before {
    content: "";
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.work_experience>div>div:nth-of-type(3) h3::before {
    background: url(images/sgpost.webp) center/contain no-repeat
}

.work_experience>div>div:nth-of-type(2) h3::before {
    background: url(images/mercantile.webp) center/contain no-repeat
}

.work_experience>div>div:nth-of-type(1) h3::before {
    background: url(images/eventas.webp) center/contain no-repeat
}

.projects>div {
    display: flex !important;
    flex-wrap: wrap
}

.project {
    width: calc((100% - 20px) / 2);
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden
}

.project>div:last-of-type {
    background: #0006 !important;
    width: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    height: 150px;
    bottom: 0;
    color: #fff;
    user-select: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(105%);
    transition: transform .5s;
    z-index: 2
}

.project:hover div:last-of-type {
    transform: translateY(0%)
}

.project h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: left !important
}

.project p {
    font-size: 14px
}

.project:nth-of-type(1) {
    background: url(images/atc.webp) center/cover no-repeat
}

.project:nth-of-type(2) {
    background: url(images/pingpong.webp) center/cover no-repeat
}

.project:nth-of-type(3) {
    background: url(images/garbage.webp) center/cover no-repeat
}

.project:nth-of-type(4) {
    background: url(images/bbwebsite.webp) center/cover no-repeat
}

.project:nth-of-type(5) {
    background: url(images/qrcode.webp) center/contain no-repeat
}

.project:nth-of-type(8) {
    background: url(images/t&t.webp) center/contain no-repeat
}

.project:nth-of-type(9) {
    background: url(images/vendpoint.webp) center/contain no-repeat
}

main h1,
.works header h1 {
    font-size: 60px
}

main>section:nth-of-type(2)>div>div:first-of-type>div,
.project:nth-of-type(6),
.project:nth-of-type(7) {
    background: url(images/python.webp) center/contain no-repeat
}

main>section:nth-of-type(2)>div>div:nth-of-type(9)>div,
.project:nth-of-type(10) {
    background: url(images/cpp.webp) center/contain no-repeat
}

@media screen and (max-width: 1250px) {
    .education>div:first-of-type>div:first-of-type {
        display: none;
    }
    
    .info_box {
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
        width: 100%;
    }

    .education>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        height: max-content;
    }

    .testimonial {
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    .education, .testimonial, main>section:nth-of-type(2), .socials, .work_experience, .projects {
        padding: 0 15vw !important;
    }

    main>section:nth-of-type(2)>div {
        grid-template-columns: repeat(2, 1fr);
    }

    main>section:nth-of-type(2) h2 {
        grid-column: span 2;
    }

    main>section:first-of-type div {
        flex-direction: column;
    }

    #intro {
        width: 70%;
    }
    
    main>section:first-of-type div {
        gap: 30px;
    }

    .work_experience>div>div, .project {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    main>section:nth-of-type(2)>div {
        grid-template-columns: 1fr;
    }

    main>section:nth-of-type(2) h2 {
        grid-column: 1;
    }

    .socials {
        flex-wrap: wrap;
    }

    .socials div {
        width: 40px;
        height: 40px;
    }

    .socials div i {
        font-size: 25px
    }

    #intro {
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    * {
        display: none;
    }
}
