* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #f6f6f6;
}

#pfp {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	background: url(images/pfp.webp) center/cover no-repeat;
	border-radius: 50%;
	flex-shrink: 0;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.intro {
	display: flex;
	padding: 20px;
	align-items: center;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	background: #d3d3d3;
	margin: auto;
}

.intro button {
	background: #000;
	border: none;
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 10px;
	cursor: pointer;
}

.intro div {
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
}

main h3 {
	font-size: 20px;
	text-align: center;
}

.intro>div>div:first-of-type {
	display: flex;
	align-items: center;
	justify-content: center;
}

#intro {
	width: 35%;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

#intro p {
	border-top: 1px solid #000;
	margin: 10px;
	padding-top: 10px;
}

.techstack {
	display: flex;
	padding: 0 150px;
	flex-direction: column;
}

.techstack h2 {
	grid-column: span 3;
	margin: 20px 0 10px;
}

.techstack>div {
	justify-content: center;
	gap: 20px;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
}

.techstack>div>div {
	border-radius: 5px;
	border: 1px solid #000;
	padding: 5px 10px;
	gap: 10px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.techstack>div>div>div {
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.education {
	position: relative;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	padding: 0 150px;
}

.education>div {
	position: relative;
	height: 550px;
}

.education>div:first-of-type>div:first-of-type {
	border: 1px solid #000;
	border-radius: 5px;
	width: 1px;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}

.education>div>div:first-of-type>div:nth-of-type(2),
.education>div>div:first-of-type>div:nth-of-type(3),
.education>div>div:first-of-type>div:nth-of-type(4) {
	width: 50px;
	height: 50px;
	background: #000;
	color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.education>div>div:first-of-type>div:nth-of-type(3) {
	top: 250px !important;
}

.education>div>div:first-of-type>div:nth-of-type(4) {
	top: 400px !important;
}

.info_box {
	position: absolute;
	width: 400px;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 20px;
}

.info_box>div:first-of-type {
	font-weight: 700;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.gm::before {
	background: url(images/gm.webp) center/contain no-repeat;
	content: "";
	width: 30px;
	height: 30px;
	display: flex;
	margin-right: 10px;
}

.tp::before {
	background: url(images/tp.webp) center/contain no-repeat;
	content: "";
	width: 30px;
	height: 30px;
	display: flex;
	margin-right: 10px;
}

.info1 {
	left: 50%;
	top: 100px;
	transform: translate(-120%, -40%);
}

.info2 {
	top: 250px;
	transform: translate(100px, -40%);
	left: 50%;
}

.info3 {
	left: 50%;
	top: 400px;
	transform: translate(-120%, -40%);
}

.info_box ul {
	padding-left: 40px !important;
}

nav {
	background: #d3d3d3;
	display: flex;
	gap: 10px;
	padding: 10px 30px 0;
	justify-content: end;
}

nav a {
	text-decoration: none;
	color: #000;
	display: flex !important;
	flex-direction: column;
	width: -moz-max-content;
	width: max-content;
	padding: 5px;
	font-size: 18px;
}

nav a::after {
	border: 1px solid #d3d3d3;
	content: "";
	width: 0;
	margin-top: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.2s ease-out;
}

nav a:hover::after {
	width: 100%;
	border-color: #000;
}

nav a[active=true]::after {
	width: 100% !important;
	border-color: #000;
}

.works header {
	background: #d3d3d3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
	text-align: center;
	gap: 10px;
}

.testimonial {
	padding: 0 150px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.projects {
	padding: 20px 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.projects>div {
	display: flex !important;
	flex-wrap: wrap;
	gap: 20px;
}

.project {
	width: calc((100% - 20px) / 2);
	height: 250px;
	display: flex;
	border: 1px solid #000;
	flex-direction: column;
	position: relative;
	overflow-y: hidden;
	background: var(--bg) center/contain no-repeat;
}

.project>div:last-of-type {
	background: rgba(0, 0, 0, 0.4) !important;
	width: 100%;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	position: absolute;
	height: 150px;
	bottom: 0;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	transform: translateY(105%);
	transition: transform 0.5s;
	z-index: 2;
}

.project:hover div:last-of-type {
	transform: translateY(0%);
}

.project h3 {
	font-size: 20px;
	font-weight: 700;
	text-align: left !important;
}

.project p {
	font-size: 14px;
}

main h1,
.works header h1 {
	font-size: 60px;
}

iframe {
	width: 100%;
}

#volunteer_experience > div > div {
	min-height: 150px !important;
}

@media screen and (max-width: 1250px) {
	.education>div:first-of-type>div:first-of-type {
		display: none;
	}

	.info_box {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		transform: none !important;
		width: 100%;
	}

	.education>div {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
		height: -moz-max-content;
		height: max-content;
	}

	.testimonial {
		margin-top: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.education,
	.testimonial,
	.techstack,
	.socials,
	.work_experience,
	.projects {
		padding: 20px 80px !important;
	}
}

@media screen and (max-width: 800px) {
	.education,
	.testimonial,
	.techstack,
	.socials,
	.work_experience,
	#volunteer_experience,
	.projects {
		padding: 20px 40px !important;
	}

	.techstack>div {
		grid-template-columns: repeat(2, 1fr);
	}

	.techstack h2 {
		grid-column: span 2;
	}

	.intro div {
		flex-direction: column;
	}

	#intro {
		width: 70%;
	}

	.intro div {
		gap: 30px;
	}

	.work_experience>div>div,
	.project {
		width: 100%;
	}

	main h1, .works header h1 {
		font-size: 50px;
	}
	
	.works header h1 {
		padding: 0 40px;
	}
}

@media screen and (max-width: 600px) {
	.work_experience>div>div {
		width: 100% !important;
	}
}

@media screen and (max-width: 500px) {
	.techstack>div {
		grid-template-columns: 1fr;
	}

	.techstack h2 {
		grid-column: 1;
	}

	.socials {
		flex-wrap: wrap;
	}

	.socials div {
		width: 40px;
		height: 40px;
	}

	.socials div i {
		font-size: 25px;
	}

	#intro {
		width: 80%;
	}
}

@media screen and (max-width: 350px) {
	* {
		display: none;
	}
}