.certs {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    gap: 20px;

    .controls {
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: space-between;

        i {
            cursor: pointer;
        }
    }

    .certs_list {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        input {
            cursor: pointer;
            transform: scale(1.2);
            accent-color: #000;
        }
    }
}

.cert_photo {
    width: 100%;
    min-height: 450px;
}