.contact {
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 150px;
    }

    input,
    textarea {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #000;
        resize: none;
        background-color: transparent;
        outline: none;
    }

    button {
        background: #d3d3d3;
        border: 1px solid black;
        width: 100px;
        padding: 8px 20px;
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        margin-left: auto;
    }

    div {
        display: flex;
        gap: 10px;
        flex-direction: column;

        p {
            color: red;
            font-size: 12px;
            user-select: none;
            display: none;

            &.visible {
                display: block;
            }
        }
    }

    > p {
        margin-top: 20px !important;
        margin: 0 150px;
        padding: 10px;
        display: none;
        background: lightgrey;
        border-radius: 10px;

        &.success {
            display: block;
            color: green;
        }

        &.error {
            display: block;
            color: red;
        }
    }
}