.redirect-container {
	display: grid;
	margin: 0 150px;
	padding: 30px 0;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);

	.redirect {
		padding: 20px;
		height: 200px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		position: relative;
		background: black;
		overflow: hidden;
		--mouse-x: 50%;
		--mouse-y: 50%;
		--spotlight-color: rgba(255, 255, 255, 1);
		border: 1px solid #000;
		color: white;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
			opacity: 0;
			transition: opacity 0.5s ease;
			pointer-events: none;
		}

		&:hover::before,
		&:focus-within::before {
			opacity: 0.8;
		}

		p:first-of-type {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		a {
			text-decoration: none;
			color: black;
			margin-top: auto;
			margin-left: auto;
			border-radius: 10px;
			font-size: 14px;
			background: white;
			width: max-content;
			padding: 5px 10px;
		}
	}
}