.projects {
	padding: 20px 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	> div {
		display: flex !important;
		flex-wrap: wrap;
		gap: 20px;
	}
}

.project {
	width: calc((100% - 20px) / 2);
	height: 250px;
	display: flex;
	border: 1px solid #000;
	flex-direction: column;
	position: relative;
	overflow-y: hidden;

	> div:last-of-type {
		background: rgba(0, 0, 0, 0.4) !important;
		width: 100%;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		position: absolute;
		height: 150px;
		bottom: 0;
		color: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		transform: translateY(105%);
		transition: transform 0.5s;
		z-index: 2;
	}

	&:hover div:last-of-type {
		transform: translateY(0%);
	}

	h3 {
		font-size: 20px;
		font-weight: 700;
		text-align: left !important;
	}

	p {
		font-size: 14px;
	}
}