.projects {
	padding: 20px 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	> div {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}
}

.project {
	height: 250px;
	display: flex;
	border: 1px solid #000;
	flex-direction: column;
	position: relative;
	overflow-y: hidden;

	> div:last-of-type {
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		position: absolute;
		height: 130px;
		bottom: 0;
		color: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		z-index: 2;
	}

	&:hover div:last-of-type {
		transform: translateY(0%);
	}

	h3 {
		font-size: 20px;
		font-weight: 700;
		text-align: left !important;
	}

	p {
		font-size: 14px;
	}
}

@media screen and (max-width: 800px) {
	.projects {
		padding: 0 20px !important;
		margin-top: 20px;
	}
}

@media screen and (max-width: 600px) {
	.projects > div {
		grid-template-columns: 1fr !important;
	}
}