.work_experience {
    display: flex;
    padding: 20px 150px;
    align-items: start !important;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: start !important;
    background: #f6f6f6 !important;
    margin: auto;

    > div {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: start !important;
        align-items: start !important;
        gap: 20px !important;

        > div {
            width: calc((100% - 20px) / 2);
            border: 1px solid #000;
            display: grid !important;
            grid-template-columns: min-content 1fr;
            border-radius: 10px;
            padding: 20px;
            gap: 10px !important;
            min-height: 200px;
            justify-content: flex-start !important;
            align-items: flex-start !important;

            p:nth-of-type(odd) {
                grid-column: 1;
                white-space: nowrap;
            }

            p:nth-of-type(even) {
                grid-column: 2;
            }

            h3 {
                grid-column: span 2;
                text-align: left;
                display: flex;
                font-size: 1em;
                align-items: center;

                &::before {
                    content: "";
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    background: var(--bg) center/contain no-repeat;
                }
            }
        }
    }
}