.contact {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .stepper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        border: 1px solid #e5e7eb;
        width: 500px;
        height: max-content;
        border-radius: 30px;
        backdrop-filter: blur(3px);
    }

    .loginButtons {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 20px 0;

        button {
            border: 1px solid transparent;
            transition: all 0.2s ease-in-out;
        }

        button:hover {
            border: 1px solid #fff;
            background: transparent;
            color: white;
        }
    }

    input,
    textarea {
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #fff;
        color: #fff;
        resize: none;
        background-color: transparent;
        outline: none;
    }

    textarea {
        height: 150px;
    }

    button {
        border: none;
        min-width: 100px;
        padding: 8px 10px;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
    }

    .returnButton {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: all 350ms;
        color: #a3a3a3;
        width: max-content;
        text-align: center;
        margin-bottom: 20px;

        &:hover {
            color: #52525b;
        }
    }

    .completed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        i {
            font-size: 50px;
            color: #fff;
            margin-bottom: 10px;
        }
    }
}

.error-container {
	position: fixed;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
	width: 40vw;
	z-index: 4;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.error {
		background: red;
		border-radius: 10px;
		color: white;
		padding: 10px;
		display: flex;
		align-items: center;
		overflow: hidden;
		font-family: sans-serif;
		gap: 10px;
		box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.4);
		animation: errorAnimation 5s ease-in-out forwards;

		&::before {
			font: var(--fa-font-solid);
			content: '\f06a';
		}

		&.success {
			background: green !important;
		}
	}
}

@media screen and (max-width: 800px) {
	.error-container {
		width: 90vw;
	}
}

@keyframes errorAnimation {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	5% {
		opacity: 1;
		transform: translateY(0);
	}

	95% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-10px);
	}
}