.certs {
    display: grid;
    grid-template-areas:
        "header header"
        "sub1 sub2"
        "content1 content2";
    padding: 0 150px;
    gap: 20px 80px;
    margin: 30px 0;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 50px;
        text-align: center;
        margin: 60px 0;
        grid-column: span 2 !important;
    }

    h3 {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .certs {
        grid-template-areas:
            "header"
            "sub1"
            "content1"
            "sub2"
            "content2";
        gap: 20px 0;
        justify-items: center;
        padding: 0 20px !important;

        h2 {
			font-size: 35px !important;
            grid-column: span 1 !important;
		}
    }
}