.redirect-container {
	display: grid;
	margin: 0 150px;
	padding-bottom: 30px;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

	.redirect {
		padding: 20px;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		position: relative;
		background: grey;
		overflow: hidden;
		color: white;

		&::after {
			content: var(--icon);
			position: absolute;
			font-size: 150px !important;
			top: 50%;
			translate: 0 -50%;
			right: -30px;
			color: rgba(255, 255, 255, 0.2);
			font: var(--fa-font-solid);
			z-index: 0;
			pointer-events: none;
		}

		p:first-of-type {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		p:last-of-type {
			margin-bottom: 20px;
		}

		& *:not(i):not(a) {
			padding-right: 40px;
		}

		a {
			text-decoration: none;
			color: black;
			cursor: pointer;
			margin-top: auto;
			margin-left: auto;
			border-radius: 10px;
			font-size: 14px;
			background: white;
			width: max-content;
			padding: 5px 10px;
			transition: scale 0.2s ease-in-out;

			&:hover {
				scale: 1.05;
			}
		}
	}
}

.redirect-header {
	margin: 60px 0;
	font-size: 50px;
    font-weight: bold;
	text-align: center;
	width: calc(100vw - 8px);
}

@media screen and (max-width: 800px) {
	.redirect-container {
		margin: 20px !important;
	}

	.redirect-header {
		font-size: 35px !important;
	}
}

@media screen and (max-width: 500px) {
	.redirect-container {
		grid-template-columns: 1fr;
	}
}