.card {
    padding: 20px;
    background: linear-gradient(to bottom right, oklch(26.9% 0 0) 0, oklch(14.5% 0 0) 50%, oklch(26.9% 0 0) 100%);
    color: white;
    border-radius: 10px;
    border: 1px solid white;

    h3 {
        font-size: 24px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        color: #a8aaae;
    }
}
