.step-indicator-row {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem;
}

.step-content-default {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.step-default {
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.footer-nav {
    margin-top: 20px;
    display: flex;
}

.footer-nav.spread {
    justify-content: space-between;
}

.footer-nav.end {
    justify-content: flex-end;
}

.back-button {
    transition: all 350ms;
    color: #a3a3a3;

    &:hover {
        color: #52525b;
    }

    &.inactive {
        pointer-events: none;
        opacity: 0.5;
        color: #a3a3a3;
    }
}

.next-button {
    transition: all .3s;
    background-color: #5227ff;
    color: #fff;

    &:hover {
        transform: scale(1.1);
    }

    &.final {
        margin-left: auto;
    }
}

.step-indicator {
    position: relative;
    outline: none;
}

.step-indicator-inner {
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-weight: 600;
}

.active-dot {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 9999px;
    background-color: #fff;
}

.step-number {
    font-size: 0.875rem;
}

.step-connector {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 0.125rem;
    flex: 1;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: #52525b;
}

.step-connector-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.check-icon {
    height: 1rem;
    width: 1rem;
    color: #fff;
}

#title {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .footer-nav.spread {
        flex-direction: column-reverse;
        gap: 10px;
    }
}