.carousel-container {
    position: relative;
    overflow: hidden;
    border: 1px solid #555;
    border-radius: 24px;
    padding: 16px;
}

.carousel-track {
    display: flex;
}

.carousel-item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: calc(var(--outer-r) - var(--p-distance));
    overflow: hidden;
    cursor: grab;
    background: linear-gradient(to bottom right, rgb(81, 46, 222) 15%, rgb(101, 74, 209) 50%, rgb(81, 46, 222) 85%);
    bottom: 0.1em;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:active {
        cursor: grabbing;
    }
}

.carousel-icon-container {
    height: 35px;
    width: 35px;
    object-fit: contain;
    border-radius: 50%;
    padding: 2px;
    background: white;
}

.carousel-item-content {
    padding: 20px;

    button {
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 12px;
    }
}

.carousel-item-title {
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
}

.carousel-item-description {
    font-size: 14px;
    color: #fff;
}

.carousel-indicators {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    left: 50%;
    gap: 15px;
    transform: translateX(-50%);
}

.carousel-indicator {
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out;
}

.carousel-indicator.active {
    width: 15px;
    margin-left: -3.5px;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .carousel-item-title {
        font-size: 14px;
        font-weight: normal;
    }
}