.stack-container {
	position: relative;
	perspective: 600px;
}

.card-rotate {
	position: absolute;
	cursor: grab;
}

.card {
	border-radius: 20px;
	border: 5px solid #fff;
	overflow: hidden;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: linear-gradient(to bottom right, rgb(81, 46, 222) 15%, rgb(101, 74, 209) 50%, rgb(81, 46, 222) 85%);

	img {
		pointer-events: none;
		width: 80px;
		height: 80px;
		object-fit: contain;
	}

	h4 {
		font-weight: normal;
	}
}