.experience {
    .header {
        height: 80vh;
        position: relative;

        >div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }

        p {
            color: white;
            font-size: 50px;
            font-weight: bold;
        }

        button {
            padding: 5px 10px;
            width: max-content;
            cursor: pointer;
            backdrop-filter: blur(5px);
            border: none;
            border-radius: 10px;
            background: rgba($color: #fff, $alpha: .7);
            transition: scale .3s;

            &:hover {
                scale: 1.1;
            }
        }
    }

    .work {
        display: grid;
        padding: 60px 150px;
        text-align: center;
        grid-template-areas: "header1 header2" "content1 content2";
        gap: 20px 80px;
        justify-content: center;
        align-items: center;
    }
}