.projects {
	padding: 20px 150px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	h2 {
		font-size: 50px;
		text-align: center;
		margin-bottom: 20px;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 120px;
	gap: 10px;
}

.project-grid {
	border-radius: 10px;
	border: 5px solid #fff;
	container-type: size;
	padding: clamp(2px, 1cqw, 24px);
	color: white;
	transition: all 0.3s;
	container-name: tile;
	cursor: pointer;
	background: linear-gradient(to bottom right, rgb(128, 107, 210) 15%, rgb(101, 74, 209) 50%, rgb(128, 107, 210) 85%);

	&:hover {
		scale: 1.05;
	}

	&.hidden {
		opacity: 0;
	}

	p {
		font-size: clamp(12px, 10cqw, 40px);

		&:first-of-type {
			font-weight: bold;
		}
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	z-index: 2;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	pointer-events: none;
	opacity: 0;
	transition: all 0.2s ease-in-out
}

.morphing-card {
	z-index: 3;
	position: relative;
	transform-origin: center;
	position: fixed;
	transform: translate(0, 0);
	transition: all 0.3s;
	display: flex;
	gap: 20px;
	align-items: center;
	overflow: hidden;

	&:hover {
		scale: 1;
	}

	& *:not(h1) {
		opacity: 0;
	}

	>div:first-of-type {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 40%;
	}

	>div:last-of-type {
		height: 100%;
		display: flex;
		align-items: center;
		flex: 1;

		img {
			width: 100%;
			max-height: 100%;
			height: max-content;
			border-radius: 10px;
			object-fit: contain;
		}
	}

	h1 {
		font-size: 36px !important;
	}

	span {
		font-size: 13px;
		color: rgb(193, 193, 193);
		font-weight: normal;
	}

	p {
		font-weight: normal !important;
		font-size: 16px !important;
	}

	a {
		text-decoration: none;
		padding: 5px 10px;
		background: white;
		color: black;
		width: max-content;
		border-radius: 10px;
		font-size: 14px;
		transition: 0.3s;
		cursor: pointer;

		&:hover {
			scale: 1.1;
		}
	}
}

.morphing-card.open {
	overflow: auto;
	top: 50% !important;
	left: 50% !important;
	translate: -50% -50%;
	width: 70vw !important;
	height: 70vh !important;

	& * {
		opacity: 1;
	}
}

@media screen and (max-width: 800px) {
	.projects {
		padding: 0 20px !important;
		margin-top: 20px;
	}

	.morphing-card.open {
		flex-direction: column;

		> div:last-of-type {
			height: 100%;
			width: 100%;
			align-items: start;
		}

		> div:first-of-type {
			width: 100%;
			height: max-content;
		}
	}
}

@media screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr !important;
		grid-auto-rows: 70px
	}

	.project-grid {
		padding: 15px !important;
		grid-area: unset !important;

		p {
			font-size: 16px !important;
		}
	}
}