.container {
    padding: 30px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    h2 {
        grid-column: span 3;
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    i {
        font-size: 30px;
        margin-bottom: 10px;
    }

    a {
        color: inherit;
    }
}

.card-spotlight {
    color: white;
    position: relative;
    line-height: 1.7;
    border-radius: 10px;
    border: 1px solid #222;
    background-color: #111;
    padding: 2rem;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
}

.card-spotlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.5;
}

@media screen and (width <= 800px) {
    .container {
        grid-template-columns: 1fr;
        padding: 5%;

        h2 {
            grid-column: span 1;
            font-size: 40px;
        }
    }
}