.container {
    padding: 30px 150px;
    
    h1 {
        font-size: 50px;
        text-align: center;
    }

    .log {
        gap: 20px;
        width: 100%;
        height: 320px;
        position: relative;
        transition: all 0.3s;

        > div {
            border: 2px solid #e7e9ec;
            position: absolute;
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 20px;
            background: linear-gradient(to bottom right, rgb(81, 46, 222) 15%, rgb(101, 74, 209) 50%, rgb(81, 46, 222) 85%);
            color: #e7e9ec;
            width: 300px;
            height: 250px;
            top: 50%;
            transform-origin: center;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            overflow: auto;

            p {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            ul , ol {
                margin-left: 18px;
            }

            li {
                font-size: 14px;
                margin-bottom: 5px;
            }

            &:nth-of-type(1) {
                z-index: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                p {
                    font-size: 13px;
                }

                p:first-of-type {
                    font-size: 24px;
                }
            }

            &:nth-of-type(2) {
                rotate: 5deg;
            }

            &:nth-of-type(4) {
                rotate: -5deg;
            }
        }

        &:hover {
            > div {
                rotate: 0deg;

                &:nth-of-type(1) {
                    opacity: 0;
                }

                &:nth-of-type(2) {
                    left: 150px;
                }

                &:nth-of-type(4) {
                    left: calc(100% - 150px);
                }
            }
        }

        &[data-active="false"] {
            rotate: -90deg;
            transform-origin: bottom center;
            translate: -100px -100px;
        }
    }
}