@use "sass:color";
@use "sass:list";

.container {
    padding: 30px 150px;
    position: relative;

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .log {
        gap: 20px;
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: center;

        >div {
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            height: 280px;
            overflow: auto;
            opacity: 0;
            transform: translateY(-20px);
            animation: fadeUp 0.4s ease-out forwards;

            p {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            ul,
            ol {
                margin-left: 18px;
            }

            li {
                font-size: 14px;
                margin-bottom: 5px;
            }


            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    animation-delay: $i * 0.2s;
                }
            }
        }
    }

    .curve_container {
        position: relative;
        width: 100%;
        height: 400px;
        mask: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
        overflow: hidden;
    }

    .curve {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 200px;
    }

    .curve path {
        filter: drop-shadow(0 0 20px rgba(81, 46, 222, .3));
        top: 0;
    }

    .point {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
    }

    .consultation {
        position: absolute;
        width: 150px;
        height: 200px;
        border-radius: 10px;
        transform-origin: 50% 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        gap: 5px;
        cursor: pointer;
        text-align: center;
        user-select: none;
        transition: all 0.3s;

        >p:first-of-type {
            font-size: 16px;
            font-weight: bold;
        }

        >p:nth-of-type(2) {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &.active {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            z-index: 3;
        }
    }

    $colors: (
        #ffa940,
        #ff3399,
        #40a9ff,
        #73d13d
    );

@for $i from 0 through 3 {
    $c: list.nth($colors, $i + 1);
    $c-dark: color.adjust($c, $lightness: -15%);
    $c-darken: color.adjust($c, $lightness: -20%);
    $c-darker: color.adjust($c, $lightness: -30%);

    .consultation[data-color="#{$i}"] {
        background: linear-gradient(135deg, $c-dark, $c, $c-dark);

        >p:nth-of-type(2) {
            color: $c-darker;
        }
    }

    .log[data-index="#{$i}"]>div {
        background: linear-gradient(135deg, $c-dark, $c, $c-dark);
        color: black;

        &::-webkit-scrollbar  {
            background: $c;
        }

        &::-webkit-scrollbar-thumb {
            background: $c-darken;
        }
    }
}
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (width <= 800px) {
    .container {
        padding: 5%;

        .log {
            flex-direction: column;
            height: auto;

            >div {
                width: 100%;
                height: auto;
                margin-bottom: 0;
            }
        }
    }
}